@import "tailwindcss";
@import "@heroui/styles";
@plugin "daisyui";

@theme inline {
  --font-sans: var(--font-hind-siliguri), "Noto Sans Bengali", sans-serif;
}

body {
  line-height: 1.7; 
}

.menu-horizontal details {
  overflow: visible !important;
}

html{
  scroll-behavior: smooth;
}